body {
    background: linear-gradient(to bottom, #007bff, #004080);
}

body {
    color: #000000;
  font-family: Arial, sans-serif;
  background: linear-gradient(#2d3a4a, #6fa5c1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: linear-gradient(#2d3a4a, #6fa5c1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

h2 {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #0056b3;
}
