<body>
<div class="container">
  <header>
    <button class="menu-icon" routerLink="/menu">☰</button>
    <div class="user-info">
      <p>Nombre: xxxxxxxx</p>
      <p>ID: xxxxxxxx</p>
      <span class="user-icon">👤</span>
    </div>
  </header>

  <main>
    <img src="/public/imagenes/qr.png" alt="QR">
  </main>

  <footer>
    <button class="footer-icon" routerLink="/horas">⏳</button>
    <button class="footer-icon">🏠</button>
    <button class="footer-icon" routerLink="/Finanzas">💲</button>
  </footer>
</div>
<body>
  